#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

html {
  /* background-image: url("./background-image.jpeg"); */
  /* background-image: url("./background-gems.jpeg"); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: #FFFFF3;
}

#search {
  background-color: #E1ECDD;
}

#button {
  margin: 0px 0px 8px 8px;
  background-color: #EE1539;
}

.aboutLittleGems {
  width: auto;
  height: responsive;
  padding: 10px;
  margin: 10px 0px 20px 0px;
  background-color: #E1ECDD;
}

.one {
  text-align: center;
  font-weight: bold;
  font-family: Courier, monospace;
}

.two {
  text-align: justify;
  font-family: Courier, monospace;
}

/* .geoLocation {
  width: auto;
  height: 500px;
  padding: 15px 0px;
  background-image: url("./placeholder-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .card {
  height: 400px;
  overflow: hidden;
} */

.card-title {
  font-family: Courier, monospace;
  padding: 10px 20px 10px 20px;
}

.card-content {
  font-family: Courier, monospace;
  background-color: #E1ECDD;
}

.circle-btn {
  background-color: #EE1539 !important;
}