html {
  background-image: url("./background-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.searchbar{
  background-color: white;
}

.geoLocation{
  width: auto;
  height:500px;
  background-color: white;
}